:root {
    --color-primario-white: #fff;
    --color-primario-issabeline: #eeeded;
    --color-primario-spanish-grey: #989797;
    --color-primario-coral: #FA824C;
    --color-primario-buff: #F1DD7B;
    --color-primario-vanilla: #F5E7A1;
    --color-primario-flame: #E4572E;
    --color-primario-ligh-red-ochre: #E87554;
    --color-primario-pastel-pink: #F2B2A0;
    --color-primario-shiny-shamrock: #4CA866;
    --color-primario-turquoise-green: #9DCFAB;
    --color-primario-pastel-grey: #8DDFC7;
    --color-primario-blue-de-france: #3C91E6;
    --color-primario-blue-jean: #5FA5EA;
    --color-primario-jordy-blue: #82B9EF;
    --color-primario-black: #000000;
    --color-primario-outer-space: #454545;
    --color-primario-quick-silver: #A2A2A2;

  }
  