:root {
    --color-primario: #fff;
    --color-primario: #eeeded;
    --color-primario: #989797;
    --color-primario: #FA824C;
    --color-primario: #F1DD7B;
    --color-primario: #F5E7A1;
    --color-primario: #E4572E;
    --color-primario: #E87554;
    --color-primario: #F2B2A0;
    --color-primario: #4CA866;
    --color-primario: #9DCFAB;
    --color-primario: #8DDFC7;
    --color-primario: #3C91E6;
    --color-primario: #5FA5EA;
    --color-primario: #82B9EF;
    --color-primario: #000000;
    --color-primario: #454545;
    --color-primario: #A2A2A2;

  }
  