.menu__button-first--color-transparent{
position: absolute;
right: 13%;
padding: 0.5%;
background-color: var(white);

}
.menu__button-second--color-green{
position: absolute;
right: 6%;
padding: 0.5%;
color: white;
background-color:var(--color-shiny-shamrock);
}

