.menu__button-first--color-transparent{
position: absolute;
right: 12%;
padding: 0.5%;
color: gray;

}
.menu__button-second--color-green{
position: absolute;
right: 5%;
padding: 0.5%;
color: white;
background-color:rgb(62, 224, 62);
}
