:root {
  --color-white: #fff;
  --color-issabeline: #eeeded;
  --color-spanish-grey: #989797;
  --color-coral: #fa824c;
  --color-buff: #f1dd7b;
  --color-vanilla: #f5e7a1;
  --color-flame: #e4572e;
  --color-ligh-red-ochre: #e87554;
  --color-pastel-pink: #f2b2a0;
  --color-shiny-shamrock: #4ca866;
  --color-turquoise-green: #9dcfab;
  --color-pastel-grey: #8ddfc7;
  --color-blue-de-france: #3c91e6;
  --color-blue-jean: #5fa5ea;
  --color-jordy-blue: #82b9ef;
  --color-black: #000000;
  --color-outer-space: #454545;
  --color-quick-silver: #a2a2a2;
}
