@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
header {
  background-color: #f2f2f2;
  padding: 20px;
  position: sticky;
  width: 100%;
  height: 12%;
}

.logo {
  display: inline-block;
  vertical-align: middle; /* Alinear verticalmente los elementos */
  width: 9%;
}

.menu {
  display: inline-block;
  width: 90%;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline-block;
  margin-right: 10px;
}

.logo__imagen {
  width: 20%;
  margin-left: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu__link {
  text-decoration: none;
  color: grey;
  margin: 15px;
}

body {
  font-family: "Pt mono", "Roboto";
}

main {
  position: relative;
}

.contenedor__img {
  width: 100%;
}

.contenedor {
  position: relative;
  width: 70%;
}

.informacion {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 15px;
}

.informacion div {
  display: inline-block;
  vertical-align: top;
}

.informacion__cantidad {
  font-size: 200%;
}

.informacion__item {
  width: 30%;
  font-size: 80%;
}

.section-cafe-agere {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  text-align: justify;
}

.section-cafe-agere h1 {
  font-size: 5rem;
  font-weight: 100;
  margin-top: 25%;
  margin-left: 25%;
}

.section-cafe-agere p {
  margin-left: 27%;
  margin-top: 5%;
}

.box-agere {
  width: 5.5rem;
  height: 5.5rem;
  background-color: yellow;
  position: absolute;
  bottom: 0;
}

.box-agere-icon {
  width: 5.5rem;
  height: 5.5rem;
  background-color: orangered;
  position: absolute;
  bottom: 12px;
  left: -3%;
}

.custom-icon {
  position: absolute;
  bottom: 1.3rem;
  right: 1.5rem;
  color: white;
  font-size: 3rem;
}

.menu__button-first--color-transparent {
  position: absolute;
  right: 12%;
  padding: 0.5%;
  color: gray;
}

.menu__button-second--color-green {
  position: absolute;
  right: 5%;
  padding: 0.5%;
  color: white;
  background-color: rgb(62, 224, 62);
}

.segunda-seccion {
  position: relative;
}

.section-conocenos {
  width: 70%;
  position: relative;
  padding: 3% 4%;
}

.section-conocenos__parrafo {
  width: 30%;
  font-size: 1.2rem;
}

.section-conocenos__titulo {
  width: 30%;
  margin-bottom: 1%;
}

.section-conocenos--cuadro-azul {
  width: 50%;
  height: 80%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(42, 152, 162);
}

.section-conocenos-img {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.section-conocenos-img--tamaño {
  width: 100%;
  height: 100%;
}

.section-conocenos__imagen {
  position: absolute;
  width: 50%;
  height: 80%;
  top: 25px;
  right: 10%;
  object-fit: cover;
}

.section-conocenos__imagen-tres {
  position: absolute;
  width: 10%;
  height: 50%;
  top: 0;
  left: 92%;
  object-fit: cover;
  z-index: 1;
}

:root {
  --color-primario: #fff;
  --color-primario: #eeeded;
  --color-primario: #989797;
  --color-primario: #FA824C;
  --color-primario: #F1DD7B;
  --color-primario: #F5E7A1;
  --color-primario: #E4572E;
  --color-primario: #E87554;
  --color-primario: #F2B2A0;
  --color-primario: #4CA866;
  --color-primario: #9DCFAB;
  --color-primario: #8DDFC7;
  --color-primario: #3C91E6;
  --color-primario: #5FA5EA;
  --color-primario: #82B9EF;
  --color-primario: #000000;
  --color-primario: #454545;
  --color-primario: #A2A2A2;
}

/*# sourceMappingURL=style.css.map */
