@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
header {
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  height: 12%;
}

.logo {
  display: inline-block;
  vertical-align: middle; /* Alinear verticalmente los elementos */
  width: 9%;
}

.menu {
  display: inline-block;
  width: 90%;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline-block;
  margin-right: 10px;
}

.logo__imagen {
  width: 20%;
  margin-left: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.menu__link {
  text-decoration: none;
  color: var(--color-spanish-grey);
  margin: 15px;
}

body {
  font-family: "Pt mono", "Roboto";
}

main {
  position: relative;
}

.contenedor__img {
  width: 100%;
}

.contenedor {
  position: relative;
  width: 70%;
}

.informacion {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 15px;
}

.informacion div {
  display: inline-block;
  vertical-align: top;
}

.informacion__cantidad {
  font-size: 200%;
}

.informacion__item {
  width: 30%;
  font-size: 80%;
}

.section-cafe-agere {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  text-align: justify;
}

.section-cafe-agere__titulo {
  margin: 5rem 5rem 0 5rem;
  font-size: 5rem;
  font-weight: 100;
}

.section-cafe-agere__parrafo {
  margin-left: 23%;
  margin-top: 1rem;
}

.box-agere {
  width: 6rem;
  height: 6rem;
  background-color: var(--color-buff);
  position: absolute;
  bottom: 0;
}

.box-agere-icon {
  width: 6rem;
  height: 6rem;
  background-color: var(--color-flame);
  position: absolute;
  bottom: 12px;
  left: -3%;
}

.custom-icon {
  position: absolute;
  bottom: 1.3rem;
  right: 1.5rem;
  color: white;
  font-size: 3rem;
}

.menu__button-first--color-transparent {
  position: absolute;
  right: 18%;
  padding: 0.5%;
  background-color: var(--color-white);
  color: var(--color-spanish-grey);
  border: 1px solid var(--color-spanish-grey);
}

.menu__button-first--color-transparent:hover {
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

.menu__button-second--color-green {
  position: absolute;
  right: 6%;
  padding: 0.5%;
  color: white;
  background-color: var(--color-shiny-shamrock);
}

.menu__button-second--color-green:hover {
  background-color: var(--color-turquoise-green);
  color: var(--color-outer-space);
}

.segunda-seccion {
  position: relative;
}

.section-conocenos {
  width: 70%;
  position: relative;
  padding: 3% 4%;
}

.section-conocenos__parrafo {
  width: 30%;
  font-size: 1.2rem;
}

.section-conocenos__titulo {
  width: 30%;
  margin-bottom: 1%;
}

.section-conocenos--cuadro-azul {
  width: 50%;
  height: 80%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-blue-de-france);
}

.section-conocenos-img {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.section-conocenos-img--tamaño {
  width: 100%;
  height: 100%;
}

.section-conocenos__imagen {
  position: absolute;
  width: 50%;
  height: 80%;
  top: 25px;
  right: 10%;
}

.section-conocenos__imagen-tres {
  position: absolute;
  width: 10%;
  height: 50%;
  top: 0;
  left: 92%;
  object-fit: cover;
  z-index: 1;
}

:root {
  --color-white: #fff;
  --color-issabeline: #eeeded;
  --color-spanish-grey: #989797;
  --color-coral: #fa824c;
  --color-buff: #f1dd7b;
  --color-vanilla: #f5e7a1;
  --color-flame: #e4572e;
  --color-ligh-red-ochre: #e87554;
  --color-pastel-pink: #f2b2a0;
  --color-shiny-shamrock: #4ca866;
  --color-turquoise-green: #9dcfab;
  --color-pastel-grey: #8ddfc7;
  --color-blue-de-france: #3c91e6;
  --color-blue-jean: #5fa5ea;
  --color-jordy-blue: #82b9ef;
  --color-black: #000000;
  --color-outer-space: #454545;
  --color-quick-silver: #a2a2a2;
}

/*# sourceMappingURL=style.css.map */
