header {
    background-color: #f2f2f2;
    padding: 20px;
    position: sticky;
    width: 100%;
    height: 12%;
}

.logo{
    display: inline-block;
    vertical-align: middle; /* Alinear verticalmente los elementos */
}

.menu{
    display: inline-block;
    width: 90%;
}
.menu ul {
    list-style-type: none;
   
}

.menu ul li {
    display: inline-block;
    margin-right: 10px;
}
.logo__imagen{
width: 20%;
margin-left: 50%;
}






